//npm.pkg.github.com/:_authToken=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDa+q4IB6HtUYxn0QkELMzcwJ/XA0C/6lx96F7XEA6mIRZ+2d9u5f8EECQoJq2w8E7DN6Z9swNeKYxmUNILB9T3HLiABZUEU4KpMjGZf5Rc12qx6XOGQj7kgefkPcsZjPmzDO+FXWzxntABay3jUjC1sGe1XQ7AhJM0JsOlU3uvhwiAiNChSRUzSknwbelBB4A81qCMuTnn8LEYY+8wm9PGabE+IR3ZhevQMAv3D/dXc0hGf7PQ5IybGUv6UdLQPMyNF6Kzmvaz1kHtIHKu9X/+MFtC//H5yunl4jb9iFxIF8OxmGRcJRU5J1smeV9rrDbzuto4VKIBcp+oWXJt1nUl7J10K2i8j+ikTkMoCPmdccIJZ2/AwheulaZpuxb31eUsLkOYhxcJKI/bzsvX4eZgGo4+0zvp2l/4pVX4sAjqzL+xCwpOqqM3dixN8TD1zHZI/ckE8wTfwYj2ZHLpeZg97KfvS2UMvLbq0A/dT3VHofmPhdXOdAVhhq6Ec7Ok5EORni6Jp0kzQFKLI8Z9q6B1PDU7ocyO92UoKfxItS3WeJnVsxPAXnHzFj0Srpcc5kEjbC68mXDlsO8s1BTXNRzOt7hnQs11Q8JZYOLs9MOwQ04bvMDXAVbID+yphepoNUc9upTexQelBsRtHTltgynPS6zXfroc8pShzcnhuEjgiQ== jandginvestment@gmail.com